<app-menu></app-menu>

<div class="layout">
  <div class="contenido-principal">
    <div
      id="tituloTargetas1"
      class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center flex-wrap gap-2 mb-3"
    >
      <h3 class="mb-2 mb-md-0">Vacaciones</h3>

      <div
        class="d-flex flex-wrap gap-2 justify-content-start justify-content-md-end"
      >
        <button
          class="btn btn-outline-light btn-sm d-flex align-items-center"
          data-bs-toggle="modal"
          data-bs-target="#agregarVacacionesModal"
          *ngIf="[8].includes(usuario?.rol)"
        >
          <i class="fas fa-plus-circle me-2"></i> Agregar
        </button>

        <button
          class="btn btn-warning btn-sm d-flex align-items-center"
          (click)="abrirModalEstado()"
        >
          <i class="fas fa-chart-bar me-2"></i> Reporte por Estado
        </button>

        <button
          class="btn btn-light btn-sm d-flex align-items-center"
          (click)="abrirModalUsuario()"
        >
          <i class="fas fa-user me-2"></i> Reporte por Usuario
        </button>

        <button
          class="btn btn-info btn-sm d-flex align-items-center"
          (click)="abrirModalArea()"
        >
          <i class="fas fa-building me-2"></i> Reporte por Área
        </button>
      </div>
    </div>

    <div *ngIf="[1, 4].includes(usuario?.rol); else sinPermiso">
      <div class="mb-3">
        <input
          type="text"
          class="form-control text-white border-0 py-2"
          placeholder="Buscar por nombre, documento o Área..."
          style="
            background-color: #1d2233;
            color: white;
            border: 1px solid #7a86a1;
          "
          [(ngModel)]="filtroNombre"
        />
      </div>

      <!-- Tabla -->
      <table class="table table-bordered table-hover table-striped">
        <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Empleado</th>
            <th>Documento</th>
            <th>Área</th>
            <th>Fecha Inicio</th>
            <th>Fecha Final</th>
            <th>Días</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let v of vacacionesFiltradasPaginadas; let i = index">
            <td>{{ i + 1 }}</td>
            <td data-label="EMPLEADO: ">
              {{ v.contrato.hoja_de_vida.usuario.primerNombre }}
              {{ v.contrato.hoja_de_vida.usuario.segundoNombre || "" }}
              {{ v.contrato.hoja_de_vida.usuario.primerApellido }}
            </td>
            <td data-label="DOCUMENTO: ">
              {{ v.contrato.hoja_de_vida.usuario.numDocumento }}
            </td>
            <td data-label="ÁREA: ">{{ v.contrato.area.nombreArea }}</td>
            <td data-label="FECHA INICIO: ">{{ v.fechaInicio }}</td>
            <td data-label="FECHA FIN: ">{{ v.fechaFinal }}</td>
            <td data-label="#DIAS: ">{{ v.dias }}</td>
            <td>
              <span
                class="badge bg-warning text-dark"
                *ngIf="v.estado === 'Pendiente'"
                >Pendiente</span
              >
              <span class="badge bg-success" *ngIf="v.estado === 'Aprobado'"
                >Aprobado</span
              >
              <span class="badge bg-danger" *ngIf="v.estado === 'Rechazado'"
                >Rechazado</span
              >
            </td>
            <td>
              <button
                class="btn btn-outline-info btn-sm me-1"
                (click)="verDetalles(v.idVacaciones)"
                title="Ver Detalles"
              >
                <i class="bi bi-eye"></i>
              </button>

              <!-- Botón Editar (ícono de lápiz) -->
              <button
                class="btn btn-outline-warning btn-sm"
                (click)="editarEstado(v.idVacaciones)"
                title="Editar Estado"
              >
                <i class="bi bi-pencil"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <nav class="mt-3 d-flex justify-content-center">
        <ul class="pagination pagination-sm">
          <!-- Botón Anterior -->
          <li class="page-item" [class.disabled]="currentPage === 1">
            <button
              class="page-link"
              (click)="cambiarPaginaSiEsNumero(currentPage - 1)"
            >
              Anterior
            </button>
          </li>

          <!-- Números y puntos -->
          <li
            *ngFor="let pagina of getPaginas()"
            class="page-item"
            [class.active]="pagina === currentPage"
          >
            <ng-container *ngIf="typeof pagina === 'number'; else puntos">
              <button
                class="page-link"
                (click)="cambiarPaginaSiEsNumero(pagina)"
              >
                {{ pagina }}
              </button>
            </ng-container>
          </li>

          <!-- Botón Siguiente -->
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <button
              class="page-link"
              (click)="cambiarPaginaSiEsNumero(currentPage + 1)"
            >
              Siguiente
            </button>
          </li>
        </ul>
      </nav>

      <ng-template #puntos>
        <span class="page-link disabled">...</span>
      </ng-template>
    </div>
    <!-- Modal Reporte por Estado -->
    <div
      class="modal fade"
      id="modalReporteEstado"
      tabindex="-1"
      aria-labelledby="modalReporteEstadoLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header bg-dark text-white">
            <h5 class="modal-title" id="modalReporteEstadoLabel">
              Reporte de Vacaciones por Estado
            </h5>
            <button
              type="button"
              class="btn-close bg-white"
              data-bs-dismiss="modal"
              aria-label="Cerrar"
            ></button>
          </div>
          <div class="modal-body">
            <canvas id="graficoEstado" height="100"></canvas>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-outline-danger"
              (click)="descargarPDFPorEstado()"
            >
              <i class="bi bi-file-earmark-pdf"></i> PDF
            </button>
            <button
              class="btn btn-outline-success"
              (click)="descargarExcelPorEstado()"
            >
              <i class="bi bi-file-earmark-excel"></i> Excel
            </button>
            <button class="btn btn-secondary" data-bs-dismiss="modal">
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Reporte por Usuario -->
    <div
      class="modal fade"
      id="modalReporteUsuario"
      tabindex="-1"
      aria-labelledby="modalReporteUsuarioLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header bg-dark text-white">
            <h5 class="modal-title" id="modalReporteUsuarioLabel">
              Reporte de Vacaciones por Usuario
            </h5>
            <button
              type="button"
              class="btn-close bg-white"
              data-bs-dismiss="modal"
              aria-label="Cerrar"
            ></button>
          </div>
          <div class="modal-body">
            <canvas id="graficoUsuario" height="100"></canvas>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-outline-danger"
              (click)="descargarPDFPorUsuario()"
            >
              <i class="bi bi-file-earmark-pdf"></i> PDF
            </button>
            <button
              class="btn btn-outline-success"
              (click)="descargarExcelPorUsuario()"
            >
              <i class="bi bi-file-earmark-excel"></i> Excel
            </button>
            <button class="btn btn-secondary" data-bs-dismiss="modal">
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Reporte por Área -->
    <div
      class="modal fade"
      id="modalReporteArea"
      tabindex="-1"
      aria-labelledby="modalReporteAreaLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header bg-dark text-white">
            <h5 class="modal-title" id="modalReporteAreaLabel">
              Reporte de Vacaciones por Área
            </h5>
            <button
              type="button"
              class="btn-close bg-white"
              data-bs-dismiss="modal"
              aria-label="Cerrar"
            ></button>
          </div>
          <div class="modal-body">
            <canvas id="graficoArea" height="100"></canvas>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-outline-danger"
              (click)="descargarPDFPorArea()"
            >
              <i class="bi bi-file-earmark-pdf"></i> PDF
            </button>
            <button
              class="btn btn-outline-success"
              (click)="descargarExcelPorArea()"
            >
              <i class="bi bi-file-earmark-excel"></i> Excel
            </button>
            <button class="btn btn-secondary" data-bs-dismiss="modal">
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Moodal Detalles-->
    <div
      class="modal fade"
      id="verDetallesModal"
      tabindex="-1"
      aria-labelledby="verDetallesModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header bg-info text-white">
            <h5 class="modal-title">Detalles de Vacaciones</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>
          <div class="modal-body" *ngIf="detalleVacacion">
            <p>
              <strong>Empleado:</strong>
              {{ detalleVacacion.contrato.hoja_de_vida.usuario.primerNombre }}
              {{
                detalleVacacion.contrato.hoja_de_vida.usuario.segundoNombre ||
                  ""
              }}
              {{ detalleVacacion.contrato.hoja_de_vida.usuario.primerApellido }}
              {{
                detalleVacacion.contrato.hoja_de_vida.usuario.segundoApellido ||
                  ""
              }}
            </p>

            <p>
              <strong>Documento:</strong>
              {{ detalleVacacion.contrato.hoja_de_vida.usuario.numDocumento }}
            </p>
            <p>
              <strong>Email:</strong>
              {{ detalleVacacion.contrato.hoja_de_vida.usuario.email }}
            </p>
            <p>
              <strong>Telefono:</strong>
              {{ detalleVacacion.contrato.hoja_de_vida.usuario.telefono }}
            </p>
            <p>
              <strong>Área:</strong>
              {{ detalleVacacion.contrato.area.nombreArea }}
            </p>
            <p>
              <strong>Cargo:</strong> {{ detalleVacacion.contrato.cargoArea }}
            </p>
            <p>
              <strong>Tipo de Contrato:</strong>
              {{ detalleVacacion.contrato.tipo_contrato.nomTipoContrato }}
            </p>
            <p>
              <strong>Fecha de Ingreso:</strong>
              {{ detalleVacacion.contrato.fechaIngreso }}
            </p>
            <p>
              <strong>Fecha de Finalización:</strong>
              {{ detalleVacacion.fechaFinal }}
            </p>
            <p><strong>Días Solicitados:</strong> {{ detalleVacacion.dias }}</p>
            <p><strong>Motivo:</strong> {{ detalleVacacion.motivo }}</p>
            <p><strong>Estado:</strong> {{ detalleVacacion.estado }}</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal para Editar Estado -->
    <div
      class="modal fade"
      id="editarEstadoModal"
      tabindex="-1"
      aria-labelledby="editarEstadoModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Editar Estado de Vacación</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Cerrar"
            ></button>
          </div>

          <div class="modal-body">
            <p>
              <strong>Nombre:</strong>
              {{
                vacacionSeleccionada?.contrato?.hoja_de_vida?.usuario
                  ?.primerNombre
              }}
              {{
                vacacionSeleccionada?.contrato?.hoja_de_vida?.usuario
                  ?.primerApellido
              }}
            </p>
            <p>
              <strong>Área:</strong>
              {{ vacacionSeleccionada?.contrato?.area?.nombreArea }}
            </p>
            <p><strong>Motivo:</strong> {{ vacacionSeleccionada?.motivo }}</p>
            <p>
              <strong>Fechas:</strong>
              {{ vacacionSeleccionada?.fechaInicio }} al
              {{ vacacionSeleccionada?.fechaFinal }}
            </p>

            <div class="mb-3">
              <label for="estadoEdit" class="form-label">Estado</label>
              <select
                id="estadoEdit"
                class="form-select"
                [(ngModel)]="vacacionSeleccionada.estado"
                name="estadoEdit"
              >
                <option value="Pendiente">Pendiente</option>
                <option value="Aprobado">Aprobado</option>
                <option value="Rechazado">Rechazado</option>
              </select>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="actualizarEstado()"
            >
              Actualizar Estado
            </button>
          </div>
        </div>
      </div>
    </div>

    <ng-template #sinPermiso>
      <div class="alert alert-warning">
        No tienes permiso para ver esta información.
      </div>
    </ng-template>
  </div>
</div>
