<app-menu></app-menu>

<div class="layout">
  <div class="contenido-principal">
    <div class="header-horas d-flex justify-content-between align-items-center">
      <h3>Solicitud de Incapacidad</h3>
    </div>

    <div class="main-content">
      <div class="purple-container">
        <div class="formulario-incapacidades">
          <h2>Formulario de Solicitud de Incapacidad</h2>
          <form class="incapacidades-form" (ngSubmit)="enviarSolicitud()" #incapacidadesForm="ngForm">

            <div class="form-group">
              <label for="archivo">Certificado / Archivo Adjunto:</label>
              <input type="file" id="archivo" name="archivo" (change)="onFileSelected($event)">
              <div *ngIf="archivo" class="selected-file-name">
                Archivo seleccionado: {{ archivo.name }}
              </div>
            </div>

            <div class="form-group">
              <label for="fechaInicio">Fecha de Inicio:</label>
              <input type="date" id="fechaInicio" name="fechaInicio" [(ngModel)]="fechaInicio" required
                     class="form-control-match">
              <div *ngIf="incapacidadesForm.controls['fechaInicio']?.errors?.['required'] && incapacidadesForm.controls['fechaInicio']?.touched" class="text-danger">
                La fecha de inicio es obligatoria.
              </div>
            </div>

            <div class="form-group">
              <label for="fechaFinal">Fecha de Fin:</label>
              <input type="date" id="fechaFinal" name="fechaFinal" [(ngModel)]="fechaFinal" required
                     class="form-control-match">
              <div *ngIf="incapacidadesForm.controls['fechaFinal']?.errors?.['required'] && incapacidadesForm.controls['fechaFinal']?.touched" class="text-danger">
                La fecha de fin es obligatoria.
              </div>
            </div>

            <button type="submit" class="btn-submit" [disabled]="!incapacidadesForm.form.valid">Enviar Solicitud</button>
          </form>
        </div>

        <div class="lista-solicitudes">
  <h2>Solicitudes Enviadas</h2>

  <div class="solicitudes-scroll-fijo">
    <div *ngIf="solicitudesIncapacidades.length === 0" class="text-center">
      No hay solicitudes enviadas aún.
    </div>

    <div *ngFor="let solicitud of solicitudesIncapacidades" class="card-solicitud">
      <p><strong>Inicio:</strong> {{ solicitud.fechaInicio | date: 'yyyy-MM-dd' }}</p>
      <p><strong>Fin:</strong> {{ solicitud.fechaFinal | date: 'yyyy-MM-dd' }}</p>
      <p *ngIf="solicitud.archivo">
        <strong>Archivo:</strong>
        <a [href]="'http://localhost:8000/' + solicitud.archivo" target="_blank">Ver archivo</a>
      </p>
      <p *ngIf="!solicitud.archivo"><strong>Archivo:</strong> No adjunto</p>
    </div>
  </div>
</div>



      </div>
    </div>
  </div>
</div>
